body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.exit{
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.results-list {
    list-style: none;
    padding: 0;
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.choice-label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
}

.progress-bar-container {
    flex: 3;
    background-color: #ddd;
    border-radius: 5px;
    height: 20px;
    margin-right: 10px;
    overflow: hidden;
}

.progress-bar {
    background-color: #3498db;
    height: 100%;
    transition: width 0.5s ease;
}

.percentage-label {
    width: 50px;
}