{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}

<body>
    <div class="about_us_conteiner">
        <div class="info_main">
            Поделись своим мнение со всем миром
        </div>
        <div class="about_us_text">
            <h5>Почему Именно Simple Votings? Ваш Голос. Ваше Решение.</h5>
            В мире, где решения принимаются за вас, Simple Votings. предлагает глоток свежего воздуха – возможность влиять на окружающий мир так, как вы всегда мечтали. Мы не просто компания; мы платформа, созданная для того, чтобы каждый голос был услышан и имел реальный вес. Но почему именно мы? Что отличает Simple Votings от других платформ?<br>
            <h5>1. Демократия в Каждом Клике:</h5>
            Мы верим в силу коллективного разума. В Simple Votings вы не просто пользователь. Вы – активный участник процесса принятия решений. Хотите новый дизайн парка в вашем районе? Проголосуйте. Мечтаете о новых вкусах любимой газировки? Проголосуйте. У нас нет границ. Вы голосуете за то, что для вас важно, и ваш голос действительно имеет значение. Мы делаем демократию не просто теорией, а реальным инструментом в ваших руках.<br>
            <h5>2. Прозрачность и Честность:</h5>
            Мы понимаем важность доверия. Наша платформа разработана с учетом прозрачности и честности. Мы постоянно работаем над улучшением механизмов защиты от фальсификации, ботов и манипуляций. Наши алгоритмы учитывают репутацию пользователей и позволяют каждому голосу быть засчитанным справедливо. Мы гарантируем, что каждое решение отражает реальное мнение сообщества.<br>
            <h5>3. Широчайший Спектр Возможностей:</h5>
            От потребительских предпочтений до социальных вопросов, от корпоративных решений до политических дебатов — Simple Voitings охватывает все. Мы не ограничиваем вас в выборе тем для голосования. Вы можете высказаться о чем угодно, и ваше мнение будет учтено. Мы предоставляем вам инструменты для обсуждения, дебатов и формирования общественного мнения.<br>
            <h5>4. Удобство и Простота:</h5>
            Мы создали нашу платформу с мыслью о пользователе. Наш интерфейс интуитивно понятен и удобен в использовании. Вам не нужны специальные навыки или знания для участия. Все, что вам нужно – это ваше мнение и желание его высказать. Вы можете голосовать с любого устройства в любое время и в любом месте.<br>
            <h5>5. Сообщество Единомышленников:</h5>
            Simple Votings – это не просто платформа для голосования. Это сообщество людей, которые разделяют вашу веру в коллективный разум. Вы можете общаться с другими пользователями, участвовать в обсуждениях и влиять на решения вместе. Мы создаем пространство для открытого диалога и конструктивной критики.<br>
            <h5>6. Инновации и Постоянное Развитие:</h5>
            Мы не стоим на месте. Мы постоянно работаем над улучшением нашей платформы, добавляя новые функции и возможности. Мы следим за новейшими технологиями и используем их для того, чтобы сделать Simple Voitings еще более эффективным и удобным. Мы стремимся стать идеальной системой для принятия коллективных решений.<br>

            <h4>Присоединяйтесь к Simple Votings и дайте вашему голосу звучать!</h4>
        </div>
    </div>
</body>
    
<footer>
</footer>

</html>