{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'survey.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
    <style>
      .wrapper {
        width: auto;
        height: 300px;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .exmpl img {
        height: auto;
        width: 100%;
      }
    </style>
</head>
{% include 'header.html' %}
<body>
    <div class="container">
        <div class="item">
            <div class="wrapper exmpl">
                <img src="{{ url_to_header }}" alt="Шапка опроса">
            </div>
            <div class="card">
                {% if IsExist %}
                    <h1>Добавление инвентаря</h1>
                    <form method="post" action="{% url 'add_voting' %}?id={{voting_id}}">
                        {% csrf_token %}
                        <input type="hidden" name="voting_id" value="{{ voting_id }}">
                        <input type="hidden" name="inventory_name" value="{{ about_label }}">
                         <div>
                            <p><b>{{ about_label }}</b></p>
                         </div>
                        <div>
                            <p><b>Выбери количество инвентаря:</b></p>
                            <input type="number" name="questions_count" min="1" max="{{ questions_number }}" value="1">
                         </div><br>
                        <input class="card_link" type="submit" value="Подтвердить">
                    </form>
                {% else %}
                    <h3>Инвентарь не найден!</h3>
                {% endif %}
                 {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<footer>
</footer>
</html>