{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'catalog_cards.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}
{% if request.user.is_superuser %}
<body>
    <div class="container">
        {% for category in data %}
        <div class="item">
          <div class="wrapper exmpl"><img src="{{ category.url_to_header }}" alt="Шапка опроса"></div>
          <div class="card">
            <h3>{{category.category.name}}</h3>
            <p>{{category.category.description}}</p>
            <a class="card_link">Одобрить</a>
          </div>
        </div>
        {% endfor %}
    </div>
</body>



{% else %}

<body>
    <div class="container">
        {% for category in data %}
        <div class="item">
          <div class="wrapper exmpl"><img src="{{ category.url_to_header }}" alt="Шапка опроса"></div>
          <div class="card">
            <h3>{{category.category.name}}</h3>
            <p>{{category.category.description}}</p>
            <a class="card_link">{{ category.category.status }}</a>
          </div>
        </div>
        {% endfor %}
    </div>
</body>


{% endif %}
<footer>
</footer>

</html>