{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'catalog_cards.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}
{% if request.user.is_superuser %}


<body>
    <div class="container">
        {% for category in data %}
        <div class="item">
          <div class="wrapper exmpl"><img src="{{ category.url_to_header }}" alt="Изображение предмета"></div>
          <div class="card">
            <h3>{{category.category.name}}</h3>
            <p>{{ category.category.description }}</p>
            <div>
                <form method="post" action="{% url 'approve_item' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ category.id }}">
                    <button type="submit" class="card_link approve_button">Одобрить</button>
                </form><br>
                <!--Форма для отказа (если нужно) -->
                 <form method="post" action="{% url 'reject_item' %}">
                     {% csrf_token %}
                     <input type="hidden" name="item_id" value="{{ category.id }}">
                     <button type="submit" class="card_link reject_button" style="background-color: #b30000;">Отказать</button>
                 </form>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</body>



{% else %}
<body>
    <div class="container">
        {% for item in data %}
            <div class="item">
                <div class="wrapper exmpl">
                    <img src="{{item.url_to_header}}" alt="Шапка опроса">
                </div>
                <div class="card">
                    <h3>{{ item.category.name }}</h3>
                    <p>{{ item.category.description }}</p>
                    <a class="card_link_wait">{{ item.category.status }}</a>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>Сообщение: {{ message }}</li><br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>


{% endif %}
<footer>
</footer>

</html>