<header id="header">
    <a class="logo" href="{% url 'index1' %}">Sport Tracker</a>
    <div class="menu">
            <a class="options" href="{% url 'about_us' %}">О нас</a>
            <a class="options" href="{% url 'catalog' %}">Инвентарь</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="options" href="{% url 'plan' %}">Составление плана</a>
                    <a class="options" href="{% url 'secure_inventory' %}">Закрепить инвентарь</a>
                    <a class="options" href="{% url 'applications' %}">Заявки пользователей</a>
                {% else %}
                    <a class="options" href="{% url 'applications' %}">Мои заявки</a>
                {% endif %}
                <a class="options" href="{% url 'profile' %}">Профиль</a>
            {% else %}
                <a class="options" href="{% url 'sign_in' %}">Войти</a>
            {% endif %}
    </div>
</header>