{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'catalog_cards.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
    <style>
      .wrapper {
        width: auto;
        height: 300px;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .exmpl img {
        height: auto;
        width: 100%;
      }
    </style>
</head>
{% include 'header.html' %}
<body>
    <div class="container">
        <div class="button-container">
           <a href="{% url 'create_purchase_plan' %}" class="create-button">Создать план закупок</a>
        </div>
        {% for plan in purchase_plans %}
        <div class="item">
            <div class="wrapper exmpl">
                <img src="" alt="Изображение плана">  <!-- Замените на поле с картинкой -->
            </div>
            <div class="card">
                <h3>Наименование: {{ plan.name }}</h3>
                <p>Количество позиций: {{ plan.total_items }}</p>
                <p>Дата создания: {{ plan.creation_date }}</p>
                 {% if plan.status == "new" %}
                   <p>Состояние: Новый</p>
                 {% elif plan.status == "in_progress" %}
                   <p>Состояние: В процессе</p>
                {% elif plan.status == "completed" %}
                    <p>Состояние: Завершен</p>
                 {% else %}
                     <p>Состояние: Неизвестно</p>
                {% endif %}
                 <a class="card_link" href="{% url 'view_purchase_plan'%}?id={{plan.id}}">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<footer>
</footer>
</html>