{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Профиль</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}
{% if is_auth %}
<body>
  <div class="profile-container">
    <div class="profile-header">
        <img src="{{ url_to_avatar }}" alt="Аватар пользователя" class="profile-avatar">
        <form method="post" enctype="multipart/form-data" id="avatar-form">
            {% csrf_token %}
            <div class="profile-avatar-actions">
              <!--{{ form.as_p  }}-->
                <label for="avatar-upload" class="profile-change-avatar">Сменить аватар</label>
                <input type="file" id="avatar-upload" name="image" style="display: none;" accept="image/*">
               <input type="hidden" name="url_to_avatar" value="{{ url_to_avatar }}">

                <button class="profile-change-avatar" type="button" style="display: none" id="confirm-avatar">Подтвердить</button>
                 <button class="profile-change-avatar" type="submit" style="display: none" id="submit-avatar">Отправить</button>
            </div>
            {% if is_admin %}
            <a class="profile-create" style="display: flex; margin-left: -0px; width: 150px;" href="{% url 'inventory/new' %}">Создать инвентарь</a>
            {% endif %}
        </form>
      </div>
    <div class="profile-content">
      <div class="profile-info">
        <h2>Личная информация</h2>
        <ul>
          <li>
            <strong>Login:</strong>
            <span class="profile-email">{{ request.user }}</span>
          </li>
        </ul>
          <h2>Информация о инвентаре</h2>
        <ul>
          <div class="button-container">
             <a href="{% url 'view_inventory' %}" class="inventory-button">Просмотр всего инвентаря</a>
          </div>
        </ul>
          {% if is_admin %}
        <h2>Отчет</h2>
        <ul>
          <div class="button-container">
             <a href="{% url 'view_reports' %}" class="inventory-button">Просмотр отчета об использовании</a>
          </div>
        </ul>
          {% else %}
          {% endif %}
      </div>
        {% if is_admin %}
        {% else %}
      {% if user_inventory %}
        <h2>Ваш инвентарь</h2>
        <ul class="minimal-inventory">
            {% for item in user_inventory %}
                <li>{{ item.name }} - {{ item.quantity }} шт. {{ item.status }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>У вас пока нет одобренных заявок.</p>
        {% endif %}
        {% endif %}
        <a class="exit" href="{% url 'sign_out' %}">Выйти</a>
    </div>
  </div>
   <script>
        let avatarBase64 = null;

        document.getElementById('avatar-upload').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                const avatarImg = document.querySelector('.profile-avatar');
                avatarImg.src = e.target.result;
                avatarBase64 = e.target.result;
                document.getElementById('confirm-avatar').style.display = 'inline';

            };

            if (file) {
                reader.readAsDataURL(file);
            }
        });
      document.getElementById('confirm-avatar').addEventListener('click', function() {
                document.getElementById('submit-avatar').style.display = 'inline';
                document.getElementById('avatar-form').submit();
            });


    </script>
</body>
{% else %}
<body>
    <div class="about_us_conteiner">
        <h2>У вас нет профиля, пожалуйста, войдите в аккаунт</h2>
    </div>
</body>
{% endif %}
<footer>
</footer>

</html>