{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'survey.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
    <style>
      .wrapper {
        width: auto;
        height: 300px;
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .exmpl img {
        height: auto;
        width: 100%;
      }
    </style>
</head>
{% include 'header.html' %}
<body>
    <div class="container">
    <div class="item">
      <div class="wrapper exmpl"><img src="{{ url_to_header }}" alt="Шапка опроса"></div>
      <div class="card">
        {% if IsExist %}
         <h1>Изменение описание инвентаря</h1>
        <form  method="post" enctype="multipart/form-data" action="/voting?id={{ voting_id }}">
            {% csrf_token %}

            <div>
                <p><b>Измените заголовок инвентаря</b></p>
                <input type="text" name="about_label" maxlength="100" required value="{{ about_label }}">
            </div>
            <div>
                <p><b>Измените изображение</b></p>
                <input type="file" name="image"  accept="image/*">
            </div>
            <div>
                <p><b>Измените колличество инвентаря</b></p>
                <input type="number" name="questions_count"  min="1" max="100" onchange="OnChangeQuestionsCount()" value="{{ questions_number }}">
            </div>
            <div id="Questions">
                <div id="Question0">
                    <div>
                        <p><b>Измените состояние</b></p>
                        <input type="radio" name="type_question0" maxlength="500" required value="one" id="one" {% if type_of_voting == "one" %}checked{% endif %}>
                        <label for="one">Новый</label>
                        <input type="radio" name="type_question0" maxlength="500" required value="multi" id="multi" {% if type_of_voting == "multi" %}checked{% endif %}>
                        <label for="multi">Использованный</label>
                        <input type="radio" name="type_question0" maxlength="500" required value="end" id="end" {% if type_of_voting == "end" %}checked{% endif %}>
                        <label for="end">Сломанный</label>
                    </div>
                </div>
            </div>
            <input class="card_link" type="submit" value="Подтвердить">
        </form>

        {% if request.user == author %}
        <p><button class="exit" onclick="confirmFunction()">УДАЛИТЬ ИНВЕНТАРЬ</button></p>
        {% endif %}
        {% else %}
        <h3>Инвентарь не найдено!</h3>
        {% endif %}
      </div>
    </div>
</div>
</body>
<footer>
</footer>
{% if request.user == author %}
<script>
    function confirmFunction() {
      let text = "Вы точно хотите удалить голосование?\nГолосование будет удалено безвозвратно!\nМы не несём ответственности за ваши дальшейшие действия.";
      if (confirm(text) == true) {
        window.location.replace("voting/delete?id={{ voting_id }}");
      } else {
        text = "You canceled!";
      }
    }
</script>
{% endif %}
</html>